<%- include('includes/header.ejs') %>
<!--Page Contents-->

      <div class="ui text container">
        <h1 class="ui inverted header" class="text-info" >Welcome to FOREX24 </h1>
        <h2>A Tool for your Foreign Exchange Trading </h2>
        
        <a href="/currency">
        <div class="ui primary button">
          Currency <i class="right arrow icon"></i>
        </div>
    </a>
       
        <!--<a href="/crypto">
        <div class="ui huge secondary button">
            Crypto <i class="right arrow icon"></i>
          </div>-->
        </a> 
      </div>
    </div>

    

<%- include('includes/footer.ejs') %>